body {
  font-family: "Helvetica Neue", Arial;
  color: #333;
  margin: 1em;
  --header-height: 50px;
  padding-top: var(--header-height);
}

header {
  width: 100%;
  height: var(--header-height);
  line-height: var(--header-height);
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background: #fff;
  padding: 0em 2em;

  box-shadow: 0 4px 6px #0000000d;

  display: grid;
  grid: auto / 1fr 1em;
  align-items: center;
}

header var {
  font-weight: bold;
  font-style: normal;
}

header .activityState {
  width: 1em;
  height: 1em;
  display: block;
  border-radius: 100%;
}

header .activityState {
  background: linear-gradient(135deg, hsl(0, 0%, 60%), hsl(0, 0%, 40%));
}

body.living header .activityState {
  background: linear-gradient(135deg, hsl(150, 88%, 50%), hsl(150, 55%, 50%));
}

table {
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 1em 2em;
  border: solid #f0f0f0;
  border-width: 1px 0;
}

tr:first-child td {
  border-top: 0;
}

tr:first-child {
  background: #fafafa;
  font-weight: bold;
}

td:nth-child(6) {
  text-align: right;
}

td:nth-child(6) time::after {
  content: "s";
  opacity: 0.5;
  margin-left: 0.5ch;
}

td:nth-child(6) s {
  text-decoration: none;
}

td:nth-child(6) s::after {
  content: ",";
  opacity: 0.5;
}
